WidgetBlueprints/
Audio/
PCG/
VFX/
UI/
Tools/
Meshes/
Cosmetics/
ETC/
System/
Cinema/
Characters/
Data/
Core/Tutorial/
Core/Temperature/
Core/Physics/
Core/Mounting/
Core/SortMenu/
Core/Crafting/
Core/Resources/
Core/Building/
Core/Item/
Core/Inventory/
Core/Character/
Blueprints/DailyPOI/
Blueprints/Harvesting/
Blueprints/Misc/
Blueprints/Structures/